.button{
  padding: 10px 20px;
  border: 0;
  border-radius: $border-radius;
  font-family: 'Brandon Grotesque', sans-serif;
  color: $font-color-heading;
  background-color: #fff;
  outline: none;
}

.button--primary{
  color: #fff;
  background-color: $color-primary;
  &:hover{
    background-color: $color-primary-light;
  }
}

.button--secondary{
  color: #fff;
  background-color: $color-secondary;
  &:hover{
    background-color: $color-secondary-light;
  }
}

.button--tertiary{
  color: #fff;
  background-color: $color-tertiary-darker;
  &:hover{
    background-color: $color-tertiary;
  }
}

.button--border {
  background-color: transparent;
  border: 2px solid #fff;
  &:hover {
    background-color: #fff;
    color: $font-color-heading;
  }
}