.dropzone{
  border: 2px dashed $border-color;
  border-radius: $border-radius;
  width: 100%;
  height: 300px;
  background-color: transparent;
  position: relative;
  &:hover{
    background-color: $color-grey-lighter;
  }
}

.dropzone--gone{
  display: none;
}

.dropzone__button{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  &:hover{
    cursor: pointer;
  }
}

.dropzone__decoy{
  height: 100%;
  font-size: $font-size-l;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.dropzone__decoy__text--l{
  font-size: 200px;
  line-height: 0;
}
