$color-primary: #FC3447;
$color-primary-dark: #6e050d;
$color-primary-darker: #b60015;
$color-primary-light: #FD5D6C;
$color-primary-lighter: #FE8C97;

$color-secondary: #FF8D35;
$color-secondary-darker: #FF6700;
$color-secondary-dark: #FF7409;
$color-secondary-light: #FFA45D;
$color-secondary-lighter: #FFBE8D;

$color-tertiary: #2EDDCA;
$color-tertiary-darker: #00AB99;
$color-tertiary-dark: #08D3BD;
$color-tertiary-light: #54E6D6;
$color-tertiary-lighter: #84EFE3;

$color-danger: #b3172b;

$color-grey: #666;
$color-grey-darker: #222;
$color-grey-dark: #444;
$color-grey-light: lightgrey;
$color-grey-lighter: #f8f8f8;

$border-color: $color-grey-light;
$border-radius: 50px;

$font-color: $color-grey;
$font-color-heading: $color-grey-dark;

$font-size: 15px;
$font-size-sm: 10px;
$font-size-m: 13px;
$font-size-l: 20px;
